client
dev tun
persist-key
persist-tun
cipher AES-256-CBC
remote IP
port 1194
proto udp
resolv-retry infinite
redirect-gateway def1
tls-client
remote-cert-tls server
tls-auth ta.key 1
ca ca.crt
cert LOGIN.crt
key LOGIN.key 

